<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">密码设置</h3>
  </div>
  <div class="panel-body">
    <div class="settings-tip">修改你的登陆密码</div>
    <div class="settings-section">
      <form class="password-form form-horizontal" method="POST">
        <div class="errors-container"></div>
        <div class="form-group">
          <label for="" class="col-md-3 control-label">当前密码</label>
          <div class="col-md-9">
            <input type="password" class="form-control" placeholder="当前密码" name="oldPwd" required="" ng-model="user.oldPwd" ng-change="checkPassword()" ng-model-options="{ updateOn: 'blur' }" />
            <span class="help-block">当前登录密码</span>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-3 control-label">新的密码</label>
          <div class="col-md-9">
            <input type="password" class="form-control" placeholder="新的密码" name="newPwd" required="" ng-model="user.newPwd" ng-model-options="{ updateOn: 'blur' }">
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-3 control-label">确认密码</label>
          <div class="col-md-9">
            <input type="password" class="form-control" placeholder="确认密码" name="cfmPwd" required="" ng-model="user.cfmPwd" ng-model-options="{ updateOn: 'blur' }">
          </div>
        </div>
        <button id="pwd_submit" ng-class="{'btn-warning': !is_correct || !is_ok}" class="btn btn-primary" type="button" style="width:50%" ng-click="is_correct && is_ok && changePassword()">保存</button>
      </form>
    </div>
  </div>
</div>