<div class="container">
  <div id="content">
    <div id="myspace">
      <div class="row">
        <div class="col-md-9">
          <div class="alert alert-info" role="alert">
            <p>
              <strong>小提示 完善个人信息,让更多的朋友发现你。</strong>
              <a ui-sref="settings.avatar" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-pencil">现在编辑</span>
              </a>
            </p>
          </div>
          <!-- <ul id="userTab" class="nav nav-tabs">
            <li id="courseNav" class="active" role="presentation">
              <a href="#course" role="tab" aria-expanded="true" aria-control="status" data-toggle="tab">我的课程</a>
            </li>
            <li id="statusNav" role="presentation">
              <a href="#status" role="tab" aria-expanded="true" aria-control="status" data-toggle="tab">最新动态</a>
            </li>
          </ul> -->
          <uib-tabset active="active">
            <uib-tab index="0" heading="我的课程">
              <div class="profile-item" ng-repeat="course in course_list">
                <span style="float:right;">{{ course.update_at | date: 'yyyy-M-d H:m' }}更新</span>
                <div class="activity">
                  {{ course.author.username }}
                  <a ui-sref="chapter({id: course.id})" ui-sref-opts="{reload: true}" class="question_link" target="_blank"> {{ course.title }} </a>
                </div>
              </div>
              <a ui-sref="course" class="btn btn-lg btn-primary" style="margin-top:20px;" target="_blank">发现更多课程</a>
            </uib-tab>
            <uib-tab index="1" heading="最新动态">
              <div class="alert alert-warning">
                <p class="text-center">非常抱歉，暂未开放</p>
              </div>
            </uib-tab>
          </uib-tabset>
         <!--  <div class="tab-content" id="userTabContent">
            <div class="tab-pane active" id="course" role="tabpanel">
              
            </div>
            <div class="tab-pane" id="status" role="tabpanel">
              <div class="alert alert-warning">
                <p class="text-center">非常抱歉，暂未开放</p>
              </div>
            </div>
          </div> -->
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <a ui-sref="settings.avatar" ui-sref-opts="{reload: true}" uib-tooltip="修改头像" tooltip-placement="bottom" tooltip-append-to-body='true'>
              <img ng-src="{{user.avatar}}" width="220" height="220">
            </a>
            <div class="caption">
              <div class="thumbnail-name">
                <h3>
                {{user.username}}
                </h3>
              </div>
              <div class="thumbnail-regtime">
                <span class="glyphicon glyphicon-time"></span>
                <span>加入时间</span>
                {{user.created_at | date:'yyyy-M-d H:m' }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>