<div class="container" ng-cloak>
  <div class="course_nav">
    <a href="#" class="picture">
      <img ng-src="{{ course.poster }}" width="200", height="113">
    </a>
    <ul>
      <li>
        <div class="course_title">{{ course.title }}</div>
      </li>
      <li>
        <div class="row">
          <div class="col-md-4 dashboard">
            <h4>0</h4>
            <p>学习人数</p>
          </div>
          <div class="col-md-4 dashboard">
            <h4 id="course_author">{{ course.author.username }}</h4>
            <p>授课老师</p>
          </div>
          <div class="col-md-4 dashboard">
            <h4>
              {{ course.update_at | date: 'yyyy-M-d H:m' }}
            </h4>
            <p>更新时间</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="course_btn">
        <a ng-click="changeStatus()" ng-show="is_authenticated && is_follow" id="quitCourse" class="btn-lg btn btn-danger" role="button">退出该课程</a>
        <a ng-click="changeStatus()" ng-show="is_authenticated && !is_follow" id="addCourse" class="btn-lg btn btn-primary" role="button">加入该课程</a>
        <a ui-sref="login" ng-if="!is_authenticated" role="button" class="btn-lg btn btn-info">请先登录</a>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-success panel_course_summary">
          <div class="panel-heading">
            <h3 class="panel-title">课程介绍</h3>
            <div class="panel-body">
              <div class="course_shortdecription" ng-bind-html="course.summary">test:</div>
            </div>
          </div>
        </div>
        <div class="panel panel-success panel_course_cate">
          <div class="panel-heading">
            <h3 class="panel-title">课程目录</h3>
            <div class="panel-body">
              <div class="course_chapter_list"></div>
                <!-- 课程章节 -->
                <div class="chapter" ng-repeat="chapter in course.chapters">
                  <a ui-sref="view({id: chapter.id})" ui-sref-opts="{reload: true}">
                    <span class="glyphicon glyphicon-list list-float"></span>
                    <strong>{{ chapter.title }}</strong>
                  </a>
                </div>
 <!--                <div class="unopen chapter">
                  <a>
                    <span class="glyphicon glyphicon-list" style="float:left;top:12px; left:5px;"></span>
                    <strong style="float:left;top:12px; left:5px;">{{ chapter.title }}</strong>
                    <em>暂未开放</em>
                  </a>      
                </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="sidebar">
          <div class="panel panel-success panel_course_relation">
            <div class="panel-heading">
              <h3 class="panel-title">相关课程</h3>
              <div class="panel-body"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>