<div class="container">
    <div class="row content col-md-push-1 col-md-8">
        <div class="subheader">
            <h1>搜索</h1>
            <div id="subsearch" class="row">
                <div class="form-group col-md-8">
                    <input type="text" class="form-control">
                </div>
                <button id="search-btn" class="btn btn-primary" type="button">搜索</button>
            </div>
            <div class="search-list">
                <div class="search-course">
                <ul>
                <li class="course" ng-repeat="course in course_list">
                    <h2 class="title">
                        <a target="_blank" ui-sref="chapter({id: course.id})" ui-sref-opts="{reload: true}">{{ course.title }}</a>
                    </h2>
                    <div class="tip"><span>作者:{{ course.author.username }}</span></div>
                    <div class="content clearfix">
                        <div class="thumbnail">
                        <a target="_blank" ui-sref="chapter({id: course.id})" ui-sref-opts="{reload: true}">
                            <img ng-src="{{ course.poster }}">
                        </a>
                        </div>
                        <div class="introduction">课程简介:<div ng-bind-html="course.summary"></div>  </div>
                    </div>
                </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- block content
    .container
        .row.content
            .col-md-push-1.col-md-8
                - var words = keywords || ""
                .subheader
                    h1 搜索
                form#subsearch(aucomplete="off")
                    .row
                        .form-group.col-md-8
                            input.form-control(type="text", autocomplete="off", name="words", value=words)
                        button#search-btn.btn.btn-primary(type="submit") 搜索
                .search-tabs
                    ul.nav.nav-tabs(role="tablist")
                        li.active(role="presentation")
                            a(href='#course_list', data-url="/search/course", aria-controls="course_list", role="tab", data-toggle="tab") 课程
                        li(role="presentation")
                            a(href='#discuss_list', data-url="/search/discuss", aria-controls="discuss_list", role="tab", data-toggle="tab") 问答
                //- .range-selector
                .serach-list.tab-content
                    .tab-pane.active#course_list(role="tabpanel")
                        .search-course

                    .tab-pane#discuss_list(role="tabpanel")
                        .serach-discuss
                            | 非常抱歉，该功能还未开放。 -->
