<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>登陆</h1>
    <div class="well">
      <form role="form" ng-submit="loginCtrl.login()">
        <div class="form-group">
          <label for="login__email">邮箱</label>
          <input type="email" class="form-control" id="login__email" ng-model="loginCtrl.email"/>
        </div>
        <div class="form-group">
          <label for="login__password">密码</label>
          <input type="password" class="form-control" id="login__password" ng-model="loginCtrl.password"/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">登陆</button>
        </div>
      </form>
    </div>
  </div>
</div>